*
!.gitignore
!Presentation
Presentation/*
!*.tex
!*.sh
!Presentation/img
Presentation/img/*
!Presentation/img/*.png
!Presentation/img/*.svg
!Presentation/img/*.pdf
!Evaluation
Evaluation/*
!*.tex
!*.sh
!Evaluation/img
Evaluation/img/*
!Evaluation/img/*.png
!Evaluation/img/*.svg
!Evaluation/img/*.pdf
